<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQwX8amnTzSxNIk5IqiRdStAxRMM2NnFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>510860714546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sahem.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>maharah-sahem</string>
	<key>STORAGE_BUCKET</key>
	<string>maharah-sahem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510860714546:ios:8a8f7d2f22873e28cad22b</string>
</dict>
</plist>